/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Roboto', sans-serif;
}

/* utility */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

/* intestazione */
header {
  margin-bottom: 20px;
}

.logo{
  width: 200px;
  height: 100px;
}

img{
  width: 100%;
}

/* barra di navigazione */

nav{
  padding: 20px 0;
}

ul li {
  display: inline;
  margin-right: 10px;
  padding: 10px 0;
}

li a{
  text-decoration-line: none;
  color: black;
}




/* corpo pagina */


.spotlight {
  height: 400px;
  background-color: #e1d67a;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}




/* corpo float */

section{
  margin-bottom: 20px;
}

.header-main {
  height: 100px;
  font-size: 1.5em;
  padding-top: 10px;
}

span{
font-weight: 300;
font-size: 20px;
}

.main-float{
  padding: 20px 0;
}

.sidebar {
  width: 25%;
  height: 450px;
  background-color: #abcfe7;
  float: left;
}

.main-content {
  width: calc(50% - 40px);
  margin: 0 20px ;
  height: 450px;
  background-color: #abcfe7;
  float: left;
}

/* fine pagina */
footer {
  height: 50px;
  text-align: center;
}

address{
  font-style: normal;
}

address::after{
  content: '\2665';
  color: red;
  font-size: 1.5em;
}