/* GENERALE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Roboto', sans-serif;
}

/* UTILITY */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

/* INTESTAZIONE */
header {
  margin-bottom: 20px;
}

.logo{
  width: 200px;
  height: 100px;
}

img{
  width: 100%;
}

/* BARRA DI NAVIGAZIONE */
nav{
  padding: 20px 0;
}

ul li {
  display: inline;
  margin-right: 10px;
  padding: 10px 0;
}

li a{
  text-decoration-line: none;
  color: black;
}


/* CORPO DELLA PAGINA */
/* AREA SPOTLIGHT */
.spotlight {
  background-image: url('../img/banner.jpg');
  background-position: center;
  height: 450px;
  background-color: #e1d67a;
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.spotlight-text{
  padding: 0 50px;
  width: 100%;
  position: absolute;
  bottom: 100px;
  color: white;
}

.spotlight-description:after{
  content: '...';

}

.layover{
  width: 100%;
  height: 100%;
  background-color: rgba(37, 30, 30, 0.253);
}


/* CORPO DEL FLOAT */
section{
  margin-bottom: 20px;
}


.header-main {
  height: 100px;
  font-size: 1.5em;
  padding-top: 10px;
}

span{
font-weight: 300;
font-size: 20px;
}

.main-float{
  padding: 20px 0;
}

.sidebar {
  width: 25%;
  float: left;
}

.box-img{
  width: 300px;
  height: 200px;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
}

.box-img-center{
  width: 100%;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  background-image: url('../img/banner-2.jpg');
  background-size: cover;
  background-position: center;
}


#left{
  background-image: url('../img/img-1.jpg');
}

#right{
  background-image: url('../img/img-3.jpg');
}

.article{
  margin-top: 10px;
}

.article h3{
  padding: 10px 0;
}



.main-content {
  width: calc(50% - 40px);
  margin: 0 20px ;
  float: left;
}






/* FINE PAGINA */
footer {
  height: 50px;
  text-align: center;
}

address{
  font-style: normal;
}

address::after{
  content: '\2665';
  color: red;
  font-size: 1.5em;
}